<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if (app.request.attributes.get('_route') == 'app_login') %}active{% endif %}">
				<a class="nav-link" href="{{ path('app_login') }}">Accueil</a>
			</li>
			<li class="nav-item {% if (app.request.attributes.get('_route') == 'action_index') %}active{% endif %}">
				<a class="nav-link" href="{{ path('action_index') }}">Actions</span></a>
			</li>
			<li class="nav-item {% if (app.request.attributes.get('_route') == 'animal_index') %}active{% endif %}">
				<a class="nav-link" href="{{ path('animal_index') }}">Animaux</span></a>
			</li>
			<li class="nav-item {% if (app.request.attributes.get('_route') == 'contributeur_index') %}active{% endif %}">
				<a class="nav-link" href="{{ path('contributeur_index') }}">Contributeurs</span></a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_logout') }}">Quitter</span></a>
			</li>
		</ul>
	</div>
</nav>